@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@font-face {
  font-family: myFirstFont;
  src: url("./assets/fonts/Fontspring-DEMO-neurialgrotesk-regular.otf");
}
:root {
  --login-bgrc: rgba(230, 210, 255, 1);
  --login-btn-color: rgba(141, 52, 255, 1);
  --purple-bgrc: rgba(141, 52, 255, 1);
  --signup-btn-color: rgba(245, 245, 245, 1);
  --ff-poppins: "Poppins", sans-serif;
  --ff-outfits: "Outfit", sans-serif;
}


/* Nav */

.login-btn {
  background-color: var(--login-bgrc);
  color: var(--login-btn-color);
  border-radius: 8px;
  border: none;
  height: 61px;
  width: 314px;
  font-family: myFirstFont;
  font-weight: 500;
  font-size: 20px;
}

.sign-up-btn {
  background-color: var(--purple-bgrc);
  color: var(--signup-btn-color);
  border: none;
  border-radius: 8px;
  height: 61px;
  width: 140px;
  font-weight: 500;
  font-size: 20px;
  font-family: myFirstFont;
}

/* Nav ends here */
/* sign In */
.sign-in-container {
  background-image: url("./assets/auth-bgri-jpg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* min-height: 1024px; */
  min-height: 100vh;
}
.sign-in-container >section{
  gap: 7rem;
}
.add-to-cart-btn:disabled, .add-to-cart-btn.disabled {
  /* opacity: 0.65; */
  pointer-events: none;
  background-color: rgba(210, 210, 210, 1);
}
/* cards */
.card-container {
  width: 30%;
}
.card-img {
  height: 256.62px;
  width: 256.62px;
}
.card-title {
  font-size: 15.97px;
  font-weight: 700;
  /* line-height: 22.81px; */
  font-family: myFirstFont;
}
.add-to-cart-btn {
  background-color: var(--purple-bgrc);
  color: rgba(254, 254, 255, 1);
  height: 40px;
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.card-price{

  font-size: 20.88px;
  font-family: myFirstFont;
}
.card-discount-price{
  color: rgba(162, 162, 162, 1);
}

/* cart section */
.cart-container > h3{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.product-qty-dec{
  background-color: rgba(162, 162, 162, 1);
  width:18.61px;
  height:18.61px;
  padding: 9.3px;
  border-radius: 2.79px;
  border: none;
}
.product-qty-inc{
  background-color: var(--purple-bgrc);
  color: white;
  width:18.61px;
  height:18.61px;
  padding: 9.3px;
  border-radius: 2.79px;
  border: none;

}
.add-cart,
.subtract-cart {
  width: 18.61px;
  height: 18.61px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 0;
  padding: 0;
  line-height: 30px;
  border: none;
  color: white;
}

.add-cart {
  background-color: #8d34ff;
}

.subtract-cart {
  background-color: #d2d2d2;
}

.cart-number {
  font-family: var(--ff-poppins);
  font-weight: 400;
  font-size: 12.1px;
}

.cart-price {
  font-family: var(--ff-poppins);
  font-weight: 600;
  font-size: 16px;
}

.remove-cart {
  border: 1px solid #ff4034;
  width: 87.33px;
  height: 26.36px;
  border-radius: 3.64px;
  font-size: 12.73px;
  font-weight: 500;
  font-family: neural-gotesk;
  background-color: white;
  color: #ff4034;
  /* margin-right: 2rem; */
}
.checkout-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.checkout p,
.checkout h4 {
  margin: 0;
  line-height: 1.5;
}

.checkout-title {
  font-family: neural-gotesk;
  font-weight: 500;
  font-size: 14.52px;
  color: #5a5a5a;
}
.checkout-price {
  font-family: neural-gotesk;
  font-weight: 800;
  font-size: 16px;
  color: #000000;
}

.checkout-button {
  height: 44px;
  border-radius: 8px;
  border: none;
  background-color: #8d34ff;
  color: white;
  font-family: neural-gotesk;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 765px) {
  .sign-in-container {
    background-image: none;
    min-height: 100vh;
  }
  .sign-in-container >section{
    min-width: 100%;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .card-container {
    min-width: 98%;
  }
  .card-title {
    font-size: 20px;
    font-weight: 700;
  }
  .card-img {
    height: 335.55px;
    width: 335.55px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .card-container {
    min-width: 48%;
    display: flex;
    justify-content: space-between;
  }
  .card-img {
    height: 335.55px;
    width: 335.55px;
  }
}
